* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: #f2f2f2;
    height: 200px;
    width: 100%;
    display: flex;
}

h3 {
    margin-left: 50px;
    margin-top: 50px;
}

p {
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bold;
}

input[type="search"] {
    margin-left: 50px;
    margin-top: 20px;
    height: 30px;
    width: 30%;
    border-radius: 2%;
    border: none;
    padding-left: 10px;
}

#Searchbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.discount-label {
    position: relative;
    /* top: 5px; */
    /* left: 10px; */
    background: #e53935;
    color: #fff;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
}
.discount {
    position: relative;
    top: 25px;
    /* left: 10px; */
    background: #e53935;
    color: #fff;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    /* z-index: 2; */

}

#logo {
    width: 70%;
    float: right;
    height: inherit;

}

.leftmain {
    width: 50%;
    height: inherit;
}

.rightpicture {
    width: 50%;
    height: inherit;
}

#details {
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

#productcount {
    margin-left: 20px;
    font-weight: bold;
}

select {
    margin-left: 20px;
    height: inherit;
    background-color: transparent;
    text-align: center;
}

#detailsleft {
    height: inherit;
    width: 50%;
    line-height: 10px;
}

#detailsright {
    height: inherit;
    width: 50%;
    text-align: right;
    margin-right: 70px;
}

.shopping {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid black;
}

.content {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
}

.img {
    width: 80%;
    height: 200px;
    margin-top: 20px;
    margin-left: 25px;
}

.productimg {
    width: 100%;
    height: 200px;
}

#sell {

    height: 30px;
    width: 30px;
    z-index: 1;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.description {
    width: 80%;
    height: 70px;
    margin-top: 20px;
    margin-left: 25px;
}

.productname {
    text-align: left;
    color: black;
    margin-top: 10px;
}

.rating {
    width: 80%;
    margin-left: 25px;
    height: 20px;
    align-items: center;
}

.pricing {
    height: 30px;
    width: 80%;
    margin-left: 25px;
    margin-top: 20px;
    font-size: large;
}
#add {
    float: right;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    height: inherit;
    width: 60px;
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
    gap: 10px;
}